#Estatísitica básica com Pandas

#importando bibliotecas

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp

In [21]:
print(f'Versão do Pandas -> {pd.__version__}')
print(f'Versão do Numpy -> {np.__version__}')
print(f'Versão do seaborn -> {sns.__version__}')
print(f'Versão do scipy -> {sp.__version__}')

Versão do Pandas -> 1.1.5
Versão do Numpy -> 1.19.5
Versão do seaborn -> 0.11.1
Versão do scipy -> 1.4.1

Versão que foi utilizada pelo professor
Versão do Pandas -> 0.22.0
Versão do Numpy -> 1.14.6
Versão do seaborn -> 0.7.1
Versão do scipy -> 1.1.0
se precisar retornar para as versões antigas:
ex: !pip install pandas == '0.22.0'

In [22]:
dados = pd.read_csv('dados.csv')
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

Dado qualitativo e quantitativo.
Uf, Sexo, cor -> qualitativo.
Idade, Anos de estudo, renda e altura -> Quantitativos

Qualitativo: ordinais e nonimais
Quantitativo: discreto e contínuo

#Dado qualitativo ordinal

In [23]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

#Dado qualitativo nonimal

In [24]:
sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [25]:
sorted(dados['Sexo'].unique())

[0, 1]

In [26]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

#Dado quantitativo discreto

In [27]:
dados.Idade.min()

13

In [28]:
dados.Idade.max()

99

In [29]:
print(f'O conjunto idade tem valores entre {dados.Idade.min()} e {dados.Idade.max()}.')

O conjunto idade tem valores entre 13 e 99.

#Dado quantitativo contínuo

In [30]:
print(f'O conjunto altura tem valores entre {dados.Altura.min()} e {dados.Altura.max()}.')

O conjunto altura tem valores entre 1.339244614 e 2.028496765.

#Distribuição de frequência

In [31]:
dados['Sexo'].value_counts()

0    53250
1    23590
Name: Sexo, dtype: int64

In [32]:
dados['Sexo'].value_counts(normalize=True)*100

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [33]:
frequencia = dados['Sexo'].value_counts()
percentual =dados['Sexo'].value_counts(normalize=True)*100
dis_freq_quali = pd.DataFrame({'frequencia': frequencia, 'Porcentagem (%)': percentual})
dis_freq_quali.head()

   frequencia  Porcentagem (%)
0       53250        69.299844
1       23590        30.700156

In [34]:
dis_freq_quali.rename(index= {0: 'Masculino', 1: 'Feminino'}, inplace=True)
dis_freq_quali.rename_axis('Sexo', axis=1, inplace=True)

In [35]:
dis_freq_quali

Sexo       frequencia  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

In [36]:
sexo = {0: 'Masculino',
        1: 'Feminino'}

cor = {0: 'Indígena',
       2: 'Branca',
       4: 'Preta',
       6: 'Amarela',
       8: 'Parda',
       9: 'Sem declaração'}

In [39]:
frequencia = pd.crosstab(dados.Sexo,
                         dados.Cor)
frequencia.rename(index= sexo, inplace=True)
frequencia.rename(columns= cor, inplace=True)
frequencia

Cor        Indígena  Branca  Preta  Amarela  Parda
Sexo
Masculino       256   22194   5502      235  25063
Feminino        101    9621   2889      117  10862

In [41]:
percentual = pd.crosstab(dados.Sexo,
                         dados.Cor,
                         normalize=True)*100
percentual.rename(index= sexo, inplace=True)
percentual.rename(columns= cor, inplace=True)
percentual

Cor        Indígena     Branca     Preta   Amarela      Parda
Sexo
Masculino  0.333160  28.883394  7.160333  0.305830  32.617126
Feminino   0.131442  12.520822  3.759761  0.152264  14.135867

In [43]:
percentual = pd.crosstab(dados.Sexo,
                         dados.Cor,
                         aggfunc = 'mean',
                         values = dados.Renda)
percentual.rename(index= sexo, inplace=True)
percentual.rename(columns= cor, inplace=True)
percentual

Cor           Indígena       Branca        Preta      Amarela        Parda
Sexo
Masculino  1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
Feminino   2464.386139  2109.866750  1134.596400  3027.341880  1176.758516

Classe Personalizada

In [44]:
dados.Renda.min()

0

In [45]:
dados.Renda.max()

200000

In [46]:
classes = [0, 1576, 3152, 7880, 15760, 200000]

In [47]:
labels = ['E', 'D', 'C', 'B', 'A']

In [51]:
frequencia = pd.value_counts(
    pd.cut(x = dados.Renda,
       bins = classes,
       labels = labels,
       include_lowest = True))
frequencia

E    49755
D    16700
C     7599
B     2178
A      608
Name: Renda, dtype: int64

In [54]:
percentual = pd.value_counts(
    pd.cut(x = dados.Renda,
       bins = classes,
       labels = labels,
       include_lowest = True,),
    normalize = True)*100
percentual

E    64.751432
D    21.733472
C     9.889381
B     2.834461
A     0.791255
Name: Renda, dtype: float64

In [58]:
dis_freq_quati = pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})
dis_freq_quati

   Frequência  Porcentagem (%)
E       49755        64.751432
D       16700        21.733472
C        7599         9.889381
B        2178         2.834461
A         608         0.791255

In [59]:
dis_freq_quati.sort_index(ascending=False)

   Frequência  Porcentagem (%)
A         608         0.791255
B        2178         2.834461
C        7599         9.889381
D       16700        21.733472
E       49755        64.751432

In [60]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020