#Estatísitica básica com Pandas

#importando bibliotecas

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp

In [5]:
print(f'Versão do Pandas -> {pd.__version__}')
print(f'Versão do Numpy -> {np.__version__}')
print(f'Versão do seaborn -> {sns.__version__}')
print(f'Versão do scipy -> {sp.__version__}')

Versão do Pandas -> 1.1.5
Versão do Numpy -> 1.19.5
Versão do seaborn -> 0.11.1
Versão do scipy -> 1.4.1

Versão que foi utilizada pelo professor
Versão do Pandas -> 0.22.0
Versão do Numpy -> 1.14.6
Versão do seaborn -> 0.7.1
Versão do scipy -> 1.1.0
se precisar retornar para as versões antigas:
ex: !pip install pandas == '0.22.0'

In [6]:
dados = pd.read_csv('dados.csv')
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

Dado qualitativo e quantitativo.
Uf, Sexo, cor -> qualitativo.
Idade, Anos de estudo, renda e altura -> Quantitativos

Qualitativo: ordinais e nonimais
Quantitativo: discreto e contínuo

#Dado qualitativo ordinal

In [9]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

#Dado qualitativo nonimal

In [10]:
sorted(dados['UF'].unique())

[11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31]

In [11]:
sorted(dados['Sexo'].unique())

[0, 1]

In [12]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

#Dado quantitativo discreto

In [13]:
dados.Idade.min()

13

In [14]:
dados.Idade.max()

97

In [15]:
print(f'O conjunto idade tem valores entre {dados.Idade.min()} e {dados.Idade.max()}.')

O conjunto idade tem valores entre 13 e 97.

#Dado quantitativo contínuo

In [16]:
print(f'O conjunto altura tem valores entre {dados.Altura.min()} e {dados.Altura.max()}.')

O conjunto altura tem valores entre 1.369493509 e 2.015829582.

#Distribuição de frequência

In [17]:
dados['Sexo'].value_counts()

0    24376
1    10922
Name: Sexo, dtype: int64

In [20]:
dados['Sexo'].value_counts(normalize=True)*100

0    69.057737
1    30.942263
Name: Sexo, dtype: float64

In [ ]:
frequencia = dados['Sexo'].value_counts()
percentual =dados['Sexo'].value_counts(normalize=True)*100