In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as sp

In [2]:
dados = pd.read_csv('dados.csv')

In [3]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [5]:
sexo = {0: 'Masculino',
        1: 'Feminino'}

cor = {0: 'Indígena',
       2: 'Branca',
       4: 'Preta',
       6: 'Amarela',
       8: 'Parda',
       9: 'Sem declaração'}

estudo = {
    1: 'Sem instrução',
    2: '1 ano',
    3: '2 anos',
    4: '3 anos',
    5: '4 anos',
    6: '5 anos',
    7: '6 anos',
    8: '7 anos',
    9: '8 anos',
    10: '9 anos',
    11: '10 anos',
    12: '11 anos',
    13: '12 anos',
    14: '13 anos',
    15: '14 anos',
    16: '15 anos',
    17: 'Não Determinando'
}

estados = {
    11: 'Rondônia (RO)',
    12: 'Acre (AC)',
    13: 'Amazonas (AM)',
    14: 'Roraima (RR)',
    15: 'Pará (PA)',
    16: 'Amapá (AP)',
    17: 'Tocantins (TO)',
    21: 'Maranhão (MA)',
    22: 'Piauí (PI)',
    23: 'Ceará (CE)',
    24: 'Rio Grande do Norte (RN)',
    25: 'Paraíba (PB)',
    26: 'Pernambuco (PE)',
    27: 'Alagoas (AL)',
    28: 'Sergipe (SE)',
    29: 'Bahia (BA)',
    31: 'Minas Gerais (MG)',
    32: 'Espírito Santo (ES)',
    33: 'Rio de Janeiro (RJ)',
    35: 'São Paulo (SP)',
    41: 'Paraná (PR)',
    42: 'Santa Catarina (SC)',
    43: 'Rio Grande do Sul (RS)',
    50: 'Mato Grosso do Sul (MS)',
    51: 'Mato Grosso (MT)',
    52: 'Goiás (GO)',
    53: 'Distrito Federal (DF)'
}

#Distribuição de probabilidade

##Distribuição binomial

In [10]:
from scipy.special import comb

In [11]:
combinacoes = comb(60,6)
combinacoes

50063860.0

In [13]:
1/combinacoes*100

1.997448858318156e-06

In [14]:
comb(25,20)

53130.0

In [16]:
1/comb(25,20)

1.8821757952192734e-05

In [17]:
n = 10
n

10

In [18]:
p = 1/3
p

0.3333333333333333

In [19]:
q = 1-p
q

0.6666666666666667

In [20]:
k = 5
k

5

In [21]:
prob = (comb(n, k) * (p**k) * (q ** (n - k)))
prob

0.13656454808718185

In [22]:
from scipy.stats import binom

In [23]:
prob = binom.pmf(k,n,p)
print(f'{prob:.8f}')

0.13656455

In [25]:
 binom.pmf(5,n,p) + binom.pmf(6,n,p) + binom.pmf(7,n,p) + binom.pmf(8,n,p) + binom.pmf(9,n,p) + binom.pmf(10,n,p)

0.2131280800690952

In [26]:
 binom.pmf([5, 6, 7, 8, 9, 10], n, p).sum()

0.2131280800690952

In [29]:
1 - binom.cdf(4, n, p)

0.21312808006909512

In [31]:
binom.sf(4, n, p)

0.21312808006909517

In [34]:
k = 2
n = 4
p = 1/2

In [38]:
binom.pmf(k, n, p)

0.3750000000000001

In [45]:
k = 3
n = 10
p = 1/6

In [50]:
1-binom.cdf(k, n, p)

0.0697278425544886

In [51]:
#exemplo
p = 0.6
n = 12
k = 8

In [52]:
prob = binom.pmf(k, n, p)
prob

0.2128409395199996

In [54]:
n = 30 * prob
n

6.385228185599988

In [62]:
p = 0.22
n = 3
k = 2

In [63]:
prob = binom.pmf(k, n, p)
prob

0.11325599999999998

In [64]:
50*prob

5.662799999999999

##Distribuição de probabilidade Poisson

In [65]:
np.e

2.718281828459045

In [67]:
media = 20
k = 15

In [68]:
prob = ((np.e**(-media)) * (media**k)) / np.math.factorial(k)
print(f'{prob:.8f}')

0.05164885

In [69]:
from scipy.stats import poisson

In [71]:
prob = poisson.pmf(k, media)
prob

0.05164885353175814

In [74]:
k = 25
media = 20
prob = poisson.pmf(k, media)
print(f'{prob*100:.2f}')

4.46

##Distribuição Normal

In [75]:
from scipy.stats import norm

In [77]:
tabela_normal_padronizada = pd.DataFrame(
    [],
    index=[f"{i/100:.2f}" for i in range(0, 400, 10)],
    columns=[f"{i/100:.2f}" for i in range(0, 10)]
)

for index in tabela_normal_padronizada.index:
    for columns in tabela_normal_padronizada.columns:
        Z = np.round(float(index) + float(columns), 2)
        tabela_normal_padronizada.loc[index, columns] = f'{norm.cdf(Z):.4f}'

tabela_normal_padronizada.rename_axis('Z', axis=1, inplace=True)
tabela_normal_padronizada

Z       0.00    0.01    0.02    0.03  ...    0.06    0.07    0.08    0.09
0.00  0.5000  0.5040  0.5080  0.5120  ...  0.5239  0.5279  0.5319  0.5359
0.10  0.5398  0.5438  0.5478  0.5517  ...  0.5636  0.5675  0.5714  0.5753
0.20  0.5793  0.5832  0.5871  0.5910  ...  0.6026  0.6064  0.6103  0.6141
0.30  0.6179  0.6217  0.6255  0.6293  ...  0.6406  0.6443  0.6480  0.6517
0.40  0.6554  0.6591  0.6628  0.6664  ...  0.6772  0.6808  0.6844  0.6879
0.50  0.6915  0.6950  0.6985  0.7019  ...  0.7123  0.7157  0.7190  0.7224
0.60  0.7257  0.7291  0.7324  0.7357  ...  0.7454  0.7486  0.7517  0.7549
0.70  0.7580  0.7611  0.7642  0.7673  ...  0.7764  0.7794  0.7823  0.7852
0.80  0.7881  0.7910  0.7939  0.7967  ...  0.8051  0.8078  0.8106  0.8133
0.90  0.8159  0.8186  0.8212  0.8238  ...  0.8315  0.8340  0.8365  0.8389
1.00  0.8413  0.8438  0.8461  0.8485  ...  0.8554  0.8577  0.8599  0.8621
1.10  0.8643  0.8665  0.8686  0.8708  ...  0.8770  0.8790  0.8810  0.8830
1.20  0.8849  0.8869  0.8888  0.8907  ...  0.8962  0.8980  0.8997  0.9015
1.30  0.9032  0.9049  0.9066  0.9082  ...  0.9131  0.9147  0.9162  0.9177
1.40  0.9192  0.9207  0.9222  0.9236  ...  0.9279  0.9292  0.9306  0.9319
1.50  0.9332  0.9345  0.9357  0.9370  ...  0.9406  0.9418  0.9429  0.9441
1.60  0.9452  0.9463  0.9474  0.9484  ...  0.9515  0.9525  0.9535  0.9545
1.70  0.9554  0.9564  0.9573  0.9582  ...  0.9608  0.9616  0.9625  0.9633
1.80  0.9641  0.9649  0.9656  0.9664  ...  0.9686  0.9693  0.9699  0.9706
1.90  0.9713  0.9719  0.9726  0.9732  ...  0.9750  0.9756  0.9761  0.9767
2.00  0.9772  0.9778  0.9783  0.9788  ...  0.9803  0.9808  0.9812  0.9817
2.10  0.9821  0.9826  0.9830  0.9834  ...  0.9846  0.9850  0.9854  0.9857
2.20  0.9861  0.9864  0.9868  0.9871  ...  0.9881  0.9884  0.9887  0.9890
2.30  0.9893  0.9896  0.9898  0.9901  ...  0.9909  0.9911  0.9913  0.9916
2.40  0.9918  0.9920  0.9922  0.9925  ...  0.9931  0.9932  0.9934  0.9936
2.50  0.9938  0.9940  0.9941  0.9943  ...  0.9948  0.9949  0.9951  0.9952
2.60  0.9953  0.9955  0.9956  0.9957  ...  0.9961  0.9962  0.9963  0.9964
2.70  0.9965  0.9966  0.9967  0.9968  ...  0.9971  0.9972  0.9973  0.9974
2.80  0.9974  0.9975  0.9976  0.9977  ...  0.9979  0.9979  0.9980  0.9981
2.90  0.9981  0.9982  0.9982  0.9983  ...  0.9985  0.9985  0.9986  0.9986
3.00  0.9987  0.9987  0.9987  0.9988  ...  0.9989  0.9989  0.9990  0.9990
3.10  0.9990  0.9991  0.9991  0.9991  ...  0.9992  0.9992  0.9993  0.9993
3.20  0.9993  0.9993  0.9994  0.9994  ...  0.9994  0.9995  0.9995  0.9995
3.30  0.9995  0.9995  0.9995  0.9996  ...  0.9996  0.9996  0.9996  0.9997
3.40  0.9997  0.9997  0.9997  0.9997  ...  0.9997  0.9997  0.9997  0.9998
3.50  0.9998  0.9998  0.9998  0.9998  ...  0.9998  0.9998  0.9998  0.9998
3.60  0.9998  0.9998  0.9999  0.9999  ...  0.9999  0.9999  0.9999  0.9999
3.70  0.9999  0.9999  0.9999  0.9999  ...  0.9999  0.9999  0.9999  0.9999
3.80  0.9999  0.9999  0.9999  0.9999  ...  0.9999  0.9999  0.9999  0.9999
3.90  1.0000  1.0000  1.0000  1.0000  ...  1.0000  1.0000  1.0000  1.0000

[40 rows x 10 columns]