#Relatório de análise

In [1]:
import pandas as pd

## importando a Base de Dados

In [2]:
dados = pd.read_csv('aluguel.csv', sep=';')

In [3]:
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [4]:
type(dados)

pandas.core.frame.DataFrame

##Informações gerais sobre a base de dados

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [6]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [7]:
tipos_dados = pd.DataFrame(dados.dtypes, columns= ['Tipos de dados'])
tipos_dados.columns.name = 'Variaveis'

In [8]:
tipos_dados

Variaveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [9]:
dados.shape

(32960, 9)

In [10]:
print(f'A base de dados apresenta {dados.shape[0]} registros imóveis em {dados.shape[1]} variáveis.')

A base de dados apresenta 32960 registros imóveis em 9 variáveis.

##Tipos de imóveis

In [11]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [12]:
dados.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [13]:
tipo_imovel = dados['Tipo']
type(tipo_imovel)

pandas.core.series.Series

In [14]:
tipo_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [15]:
for i in tipo_imovel.drop_duplicates():
    print(i)

Quitinete
Casa
Conjunto Comercial/Sala
Apartamento
Casa de Condomínio
Prédio Inteiro
Flat
Loja/Salão
Galpão/Depósito/Armazém
Casa Comercial
Casa de Vila
Terreno Padrão
Box/Garagem
Loft
Loja Shopping/ Ct Comercial
Chácara
Loteamento/Condomínio
Sítio
Pousada/Chalé
Studio
Hotel
Indústria

In [16]:
tipo_imovel.drop_duplicates(inplace=True)

In [17]:
tipo_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando a vizualização

In [18]:
tipo_imovel = pd.DataFrame(tipo_imovel)
tipo_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [19]:
tipo_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [20]:
tipo_imovel.index = range(tipo_imovel.shape[0])
tipo_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [21]:
tipo_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [22]:
tipo_imovel.columns.name = 'Id'

In [23]:
tipo_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

##Imóveis residenciais

In [24]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [25]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [26]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [27]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [28]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [29]:
dados_residencial = dados[selecao]
dados_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
32953  Apartamento                 Méier        2  ...   900.0       490.0  48.0
32955    Quitinete                Centro        0  ...   800.0       350.0  25.0
32956  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
32957  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
32958  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

In [30]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [31]:
dados_residencial.shape

(22580, 9)

In [32]:
dados.shape

(32960, 9)

In [33]:
dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

##Exportando dados

In [41]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=';', index=False)

In [42]:
dados_2 = pd.read_csv('aluguel_residencial.csv', sep=';')
dados_2

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

##Seleções de frequencias

In [43]:
dados_2.head()

          Tipo           Bairro  Quartos  Vagas  ...  Area   Valor  Condominio  IPTU
0    Quitinete       Copacabana        1      0  ...    40  1700.0       500.0  60.0
1         Casa  Jardim Botânico        2      0  ...   100  7000.0         NaN   NaN
2  Apartamento           Centro        1      0  ...    15   800.0       390.0  20.0
3  Apartamento     Higienópolis        1      0  ...    48   800.0       230.0   NaN
4  Apartamento     Vista Alegre        3      1  ...    70  1200.0         NaN   NaN

[5 rows x 9 columns]

In [47]:
selecao = dados_2['Tipo'] == 'Apartamento'
n_1 = dados_2[selecao]
n_1

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
5      Apartamento              Cachambi        2  ...  1300.0       301.0  17.0
8      Apartamento                Centro        1  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22573  Apartamento        Vila Valqueire        2  ...  1000.0       550.0   NaN
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[19532 rows x 9 columns]

In [48]:
selecao = (dados_2['Tipo'] == 'Casa') | (dados_2['Tipo'] == 'Casa de Condomínio') |(dados_2['Tipo'] == 'Casa de Vila')
n_2 = dados_2[selecao]
n_2

                     Tipo                   Bairro  ...  Condominio    IPTU
1                    Casa          Jardim Botânico  ...         NaN     NaN
6      Casa de Condomínio          Barra da Tijuca  ...         NaN     NaN
7      Casa de Condomínio                    Ramos  ...         NaN     NaN
14     Casa de Condomínio                  Taquara  ...         NaN     NaN
18     Casa de Condomínio          Barra da Tijuca  ...      2695.0     NaN
...                   ...                      ...  ...         ...     ...
22545  Casa de Condomínio  Freguesia (Jacarepaguá)  ...       530.0  1250.0
22547                Casa            Bento Ribeiro  ...         NaN     NaN
22555  Casa de Condomínio          Barra da Tijuca  ...      3000.0     NaN
22558                Casa                   Centro  ...         NaN    80.0
22574  Casa de Condomínio          Barra da Tijuca  ...      1711.0  2332.0

[2212 rows x 9 columns]

In [50]:
selecao = (dados_2['Area'] >= 60) & (dados_2['Area'] <= 100)
n_3 = dados_2[selecao]
n_3

                     Tipo                    Bairro  ...  Condominio   IPTU
1                    Casa           Jardim Botânico  ...         NaN    NaN
4             Apartamento              Vista Alegre  ...         NaN    NaN
7      Casa de Condomínio                     Ramos  ...         NaN    NaN
9             Apartamento                    Grajaú  ...       642.0   74.0
10            Apartamento       Lins de Vasconcelos  ...       455.0   14.0
...                   ...                       ...  ...         ...    ...
22568         Apartamento  Recreio dos Bandeirantes  ...       790.0    NaN
22570         Apartamento                    Leblon  ...      1010.0  249.0
22575         Apartamento                     Méier  ...       490.0   48.0
22577         Apartamento               Jacarepaguá  ...       800.0   40.0
22579         Apartamento                    Leblon  ...       760.0    NaN

[8719 rows x 9 columns]

In [53]:
selecao = (dados_2['Quartos'] >= 4) & (dados_2['Valor'] < 2000)
n_4 = dados_2[selecao]
n_4

                     Tipo                    Bairro  ...  Condominio   IPTU
484           Apartamento  Recreio dos Bandeirantes  ...       830.0    NaN
1003          Apartamento                   Taquara  ...         NaN    NaN
1961                 Casa              Campo Grande  ...         NaN    NaN
2102                 Casa         Engenho de Dentro  ...         NaN    NaN
2200          Apartamento  Recreio dos Bandeirantes  ...         NaN   90.0
2338         Casa de Vila                     Méier  ...         NaN    NaN
3943                 Casa              Campo Grande  ...         NaN    NaN
3944          Apartamento              Campo Grande  ...       500.0    NaN
4349          Apartamento  Recreio dos Bandeirantes  ...      1492.0  205.0
5081          Apartamento               Cidade Nova  ...         NaN    NaN
6524          Apartamento                 Pechincha  ...      1100.0  270.0
6800                 Casa                 Riachuelo  ...         NaN   40.0
6811                 Casa                     Méier  ...         NaN    NaN
7624          Apartamento  Recreio dos Bandeirantes  ...      1400.0  580.0
7651          Apartamento  Recreio dos Bandeirantes  ...      1380.0  700.0
7867          Apartamento  Recreio dos Bandeirantes  ...      1093.0  183.0
10111         Apartamento  Recreio dos Bandeirantes  ...      1038.0  158.0
10929  Casa de Condomínio                   Taquara  ...       550.0  993.0
11308                Casa              Santo Cristo  ...         NaN    NaN
11977         Apartamento                      Leme  ...      2000.0  270.0
12525         Apartamento  Recreio dos Bandeirantes  ...       930.0  150.0
13307         Apartamento                   Camorim  ...       747.0    NaN
13659         Apartamento           Barra da Tijuca  ...      1766.0    NaN
14034                Casa                Praça Seca  ...         NaN  228.0
14987  Casa de Condomínio   Freguesia (Jacarepaguá)  ...       195.0   30.0
15010                Casa        Pedra de Guaratiba  ...         NaN    NaN
15912         Apartamento              Campo Grande  ...       880.0    NaN
16031         Apartamento  Recreio dos Bandeirantes  ...       912.0  160.0
16137         Apartamento              Rio Comprido  ...       500.0    NaN
16791                Casa              Campo Grande  ...         NaN    NaN
17764         Apartamento                   Taquara  ...         NaN    NaN
17884                Casa              Campo Grande  ...         NaN  208.0
18140                Casa              Campo Grande  ...         NaN    NaN
18274                Casa              Braz de Pina  ...         NaN    NaN
18453                Casa              Campo Grande  ...         NaN    NaN
19403                Casa              Campo Grande  ...       300.0    NaN
20178         Apartamento              Campo Grande  ...       950.0    NaN
20974         Apartamento           Barra da Tijuca  ...      1600.0  196.0
21475         Apartamento             Vargem Grande  ...         NaN  176.0
21783         Apartamento  Recreio dos Bandeirantes  ...      1038.0    NaN
21938                Casa              Campo Grande  ...         NaN    NaN

[41 rows x 9 columns]